.img-fluid {
}

.fa.fa-play-circle.text-primary {
}

@media (min-width: 576px) {
  .col-lg-7.my-auto {
  }
}

@media (max-width:992px) {
  header.masthead {
    height: 100vh;
    min-height: 1200px;
    padding-top: 90px;
    padding-bottom: 0;
  }
}

section.features .feature-item i {
  background: #222222;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

